:root {
  --success: #0b800b;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.triki {
  display: grid;
  gap: .5rem;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  
  & > button {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
}

.restart-game-btn {
  margin-top: 1rem;
}

.turn {
  display: flex;
  align-items: start;
  padding: .2rem;
  & > span {
    font-weight: bold;
  }
}

/* TODO: implment a animation for the winner */
.btn-success-1 {
  background-color: var(--success);
  transition: ease-in-out 500ms;
  animation: pop 200ms forwards ease-in-out;
}
.btn-success-2 {
  background-color: var(--success);
  transition: ease-in-out 750ms;
  animation: pop 400ms forwards ease-in-out;

}
.btn-success-3 {
  background-color: var(--success);
  transition: ease-in-out 1s;
  animation: pop 600ms forwards ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.16);
  }
  100% {
    transform: scale(1);
  }
}